<div class="movie-card">
    <div class="movie-image">
        
    </div>

    <div class="movie-details">
        <p>Movie: <%= movie.movie_title %> </p>
        <p>Director: <%=movie.movie_director%></p>
        <p>Genre: <%=movie.movie_genre%></p>
        <p>Cast: <%=movie.movie_main_actor%></p>
        <p>Year: <%=movie.movie_released%></p>
    </div>

    <div class="movieButtonsDiv">
        <a class="cardButton" href="/update?movie_id=<%=movie.movie_id%>">Update</a>
        <a class="cardButton" href="/delete?movie_id=<%=movie.movie_id%>">Delete</a>
    </div>
</div>