<div class="movie-card">
    <div class="movie-image">
        <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.deezer.com%2Fen%2Falbum%2F463516585&psig=AOvVaw34c08-JQ7DCaUWIWxoYyJU&ust=1728866632392000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCKDav52QiokDFQAAAAAdAAAAABAE" alt="hello">
    </div>

    <div class="movie-details">
        <p>Movie: <%= movie.movie_title %> </p>
        <p>Director: <%=movie.movie_director%></p>
        <p>Genre: <%=movie.movie_genre%></p>
        <p>Cast: <%=movie.movie_main_actor%></p>
        <p>Year: <%=movie.movie_released%></p>
    </div>

    <div class="movieButtonsDiv">
        <a class="cardButton" href="/update?movie_id=<%=movie.movie_id%>">Update</a>
        <a class="cardButton" href="/delete?movie_id=<%=movie.movie_id%>">Delete</a>
    </div>
</div>